body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 32px;
    color: white;
}

p, h6, h1, h2, button {
    font-family: 'Handjet', cursive !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.layout {
    height: 90vh;
}

.flexLayout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginLayout {
    height: 90vh;
}

.loginContainer {
    flex-wrap: wrap;
}

.gradContainer {
    width: 200px;
    height: 250px;
    background: white;
    margin: 16px 32px;
    box-shadow: 0px 5px #fff9f9;
}

.grad {
    width: 200px;
    height: 200px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.gradContainer h6, .gradContainer > .textLayout > p, h6 ~ p {
    color: black;
    text-align: center;
    font-size: 24px;
}

.textLayout {
    flex-direction: column;
}

.spotifySvg {
    width: 20px;
    margin-right: 8px
}

.spotifyContainer {
    justify-content: flex-start;
    margin: 4px 0;
}

.spotifyContainer a, .footer a {
    color: white;
}

.logoutButtonLayout {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    color: white
}

.logoutButtonLayout button,
button:hover {
    color: white !important;
    text-transform: capitalize;
    padding: 8px;
    border-radius: 20px;
    border-color: white !important;
}

.thisIsText {
    flex-direction: column;
}

.divider {
    height: 1px;
    background: white;
    width: 90%;
    margin-top: 8pxs;
}

.trackDetails {
    display: flex;
    margin: 16px;
    min-width: 300px;
}

.gridContainer {
    display: flex;
    flex-direction: row;
    padding: 16px;
    flex-wrap: wrap;
}

.trackName {
    margin-left: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.cd-case {
	height: 306px;
	width: 330px;
	margin:20px 0px 15px 35px;
	display: inline-block;
	border-radius: 3px;
	background: rgba(0,0,0,0);
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.6), inset 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 5px 1px rgba(255,255,255,0.6), inset 0px 0px 0px 1px rgba(255,255,255,0.2);
}
.album-art {
	height: 300px;
	width: 300px;
	border-radius: 3px;
	background: rgba(0,0,0,0);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5),inset 0px 0px 16px 2px rgba(0,0,0,0.1), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
	position: relative;
	top: 3px;
	left: 25px;
	z-index: -2;
}
#case3 .album-art {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) center center no-repeat;
  background-size: 100% 100%;
}
#case4 .album-art {
	background: linear-gradient(rgba(255,255,255,0.15),rgba(255,255,255,0)), url(http://upload.wikimedia.org/wikipedia/en/0/0d/Acdcironman.jpg) center center no-repeat;
  background-size: 100% 100%;
}
.sup {
	height: 10px;
	width: 20px;
	background: rgba(255,255,255,0.15);
	box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.22), inset 0px 0px 1px 1px rgba(255,255,255,0.17);
}
.pos-tl {
	position: relative;
	top: 0;
	left: 20px;
	border-radius: 0 0 5px 5px;
}
.pos-tr {
	position: relative;
	top: -10px;
	left: 160px;
	border-radius: 0 0 5px 5px;
}
.pos-bl {
	position: relative;
	top: 169px;
	left: 20px;
	border-radius: 5px 5px 0 0;
}
.pos-br {
	position: relative;
	top: 159px;
	left: 160px;
	border-radius: 5px 5px 0 0;
}
.spine {
	height: 120px;
	width: 15px;
	background: -webkit-linear-gradient(rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.07) 100%);
	box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.23), inset 0px 0px 7px 0px rgba(0,0,0,0.22), inset 0px 0px 0px 1px rgba(255,255,255,0.22);
	position: relative;
	top: -160px;
	left: 0;
	border-radius: 0 50% 50% 0;
	z-index: -1;
}

.flexWrap {
    flex-wrap: wrap;
}

.album-text {
    text-align: end;
    font-size: 74px !important;
    text-transform: uppercase;
    padding: 33px 16px;
}

@media only screen and (max-width: 600px) {
    .cd-case {
        height: 206px;
        width: 230px;
        margin:20px 0px;
        display: inline-block;
        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.6), inset 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 5px 1px rgba(255,255,255,0.6), inset 0px 0px 0px 1px rgba(255,255,255,0.2);
    }
    .album-art {
        height: 200px;
        width: 200px;
        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5),inset 0px 0px 16px 2px rgba(0,0,0,0.1), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
        position: relative;
        top: 3px;
        left: 25px;
        z-index: -2;
    }
    .album-text {
        text-align: end;
        font-size: 40px !important;
        text-transform: uppercase;
        padding: 33px 16px;
    }
    .album-art > div > h6 {
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .album-art > div > h6 {
        font-size: 16px;
    }
    .album-text {
        text-align: end;
        font-size: 65px !important;
        text-transform: uppercase;
        padding: 33px 16px;
    }
}

@media only screen and (min-width: 992px) {
    .cd-case {
        height: 356px;
        width: 380px;
        margin:20px 0px;
        display: inline-block;
        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.6), inset 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 5px 1px rgba(255,255,255,0.6), inset 0px 0px 0px 1px rgba(255,255,255,0.2);
    }
    .album-art {
        height: 350px;
        width: 350px;
        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5),inset 0px 0px 16px 2px rgba(0,0,0,0.1), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
        position: relative;
        top: 3px;
        left: 25px;
        z-index: -2;
    }
    .album-text {
        text-align: end;
        font-size: 75px !important;
        text-transform: uppercase;
        padding: 33px 16px;
    }
    .album-art > div > h6 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .cd-case {
        height: 506px;
        width: 530px;
        margin:20px 0px;
        display: inline-block;
        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.6), inset 0px 0px 20px 2px rgba(0,0,0,0.4), inset 0px 0px 5px 1px rgba(255,255,255,0.6), inset 0px 0px 0px 1px rgba(255,255,255,0.2);
    }
    .album-art {
        height: 500px;
        width: 500px;
        border-radius: 3px;
        background: rgba(0,0,0,0);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5),inset 0px 0px 16px 2px rgba(0,0,0,0.1), inset 0px 0px 0px 1px rgba(255,255,255,0.3);
        position: relative;
        top: 3px;
        left: 25px;
        z-index: -2;
    }
    .album-text {
        text-align: end;
        font-size: 110px !important;
        text-transform: uppercase;
        padding: 33px 16px;
    }
    .album-art > div > h6 {
        font-size: 27px;
    }
}
