body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 32px;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.layout {
    height: 90vh;
}

.flexLayout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginLayout {
    height: 90vh;
}

.loginContainer {
    flex-wrap: wrap;
}

.gradContainer {
    width: 200px;
    height: 250px;
    background: white;
    margin: 16px 32px;
    box-shadow: 0px 5px #fff9f9;
}

.grad {
    width: 200px;
    height: 200px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.gradContainer h6, h6~p{
    color: black;
    text-align: center;
    font-size: 24px;
}

.textLayout {
    flex-direction: column;
    padding: 8px;
}

.spotifySvg {
    width: 20px;
    margin-right: 8px
}

.spotifyContainer {
    justify-content: flex-start;
    margin: 4px 0;
}

.spotifyContainer a {
    color: white;
}

.logoutButtonLayout {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    color: white
}

.logoutButtonLayout button, button:hover {
    color: white !important;
    text-transform: capitalize;
    padding: 8px;
    border-radius: 20px;
    border-color: white !important;
}

.thisIsText {
    flex-direction: column;
}

.divider {
    height: 1px;
    background: white;
    width: 90%;
    margin-top: 8pxs;
}

.trackDetails {
    display: flex;
    margin: 16px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 16px;
}

.trackName {
    margin-left: 16px;
}
